@using Microsoft.AspNetCore.Components.Web
@namespace TDsign.Docs.ServerSide.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="_content/TDesign/tdesign-blazor.css" />
    <link rel="stylesheet" href="_content/TDesign.Docs.Shared/app.css" />
    <link rel="shortcut icon" href="favicon.png" />
    <title>TDesign</title>

    <style>

/*    .csss::-webkit-scrollbar {
    width: 12px;
    background: transparent;
    }
    .csss::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: transparent;
    }*/
/*    .dd
    {
        padding: 0px 30px 30px 16px;
    }
    .dd>ul {
        padding:0px;
    }*/
    </style>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/TDesign/tdesign-blazor.js"></script>
</body>
</html>
