@using Microsoft.AspNetCore.Components.Web
@namespace TDsign.Docs.ServerSide.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="_content/TDesign/tdesign-blazor.css" />
    <link rel="stylesheet" href="_content/TDesign.Docs.Shared/css/app.css" />
    <link rel="stylesheet" href="_content/TDesign.Docs.Shared/lib/highlightjs/styles/vs2015.min.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <title>TDsign for Blazor - 开源级企业级设计体系</title>
    <component type="typeof(HeadOutlet)" render-mode="Server" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/TDesign.Docs.Shared/lib/highlightjs/highlight.min.js"></script>
    <script src="_content/TDesign.Docs.Shared/js/cshtml-razor.min.js"></script>
    <script src="_content/TDesign.Docs.Shared/js/app.js"></script>
</body>
</html>
