@page "/components/anchor"

<Example Title="指定容器锚点">
    <Description>指定响应滚动的容器进行锚点定位，以及 click 事件的应用，阻止锚点添加到 uri 上。</Description>
    <RunContent>
        <TAnchor container="#anchor-container">
            <TAnchorItem Title="1" Href="#id"></TAnchorItem>
            <TAnchorItem Title="1" Href="#id"></TAnchorItem>
        </TAnchor>
        <div id="anchor-container">
            <div id="content-1" class="anchor-content-1">anchor-content-1</div>
            <div id="content-2" class="anchor-content-2">anchor-content-2</div>
            <div id="content-3" class="anchor-content-3">anchor-content-3</div>
            <div id="content-4" class="anchor-content-4">anchor-content-4</div>
            <div id="content-5" class="anchor-content-5">anchor-content-5</div>
        </div>
    </RunContent>
    <CodeContent>

    </CodeContent>
</Example>
