@page "/components/pagination"

<PageHeader Title="分页 Pagination">
    用于模块内切换内容的控件。
</PageHeader>

<h3>基础分页</h3>
<Example Title="少量页面">
    <Description>最基础的分页控件，仅展示页码。建议使用在内容少于10页的轻量化分页场景。</Description>
    <RunContent>
        <TPagination @bind-Current="Page" @bind-PageSize="PageSize" @bind-Total="Total"/>
    </RunContent>
    <CodeContent>

    </CodeContent>
</Example>

@code{
    long Page { get; set; } = 1;
    int PageSize { get; set; } = 10;
    long Total { get; set; } = 100;
}