@page "/components/switch"
<PageHeader Title="TSwitch 开关">
    用于两个互斥选项，用来打开或关闭选项的选择控件。
</PageHeader>
<HighlightAlert/>
<Example Title="基本开关">
    <Description></Description>
    <RunContent>
        <TSwitch @bind-value="@Opened" />
        <p>
            您的选择：@Opened
        </p>
    </RunContent>
    <CodeContent>
        @Code.Create(@"
```html
<TSwitch @bind-value=""@Opened"" />
```
```cs
@code{
    bool Opened{ get; set; }
}
```
")
    </CodeContent>
</Example>
@code{
    bool Opened{ get; set; }
}