@page "/test"
@using Test = TDesign.Docs.Shared.Pages.Components.Data.TablePage
@layout EmptyLayout

@*<div style="width:180px">
    <TSelect @bind-Value="Value">
        @for ( var i = 1; i < 11; i++ )
        {
            int index = i;
            <TSelectOption @key="i" Value="@index" Label="@($"选项{index}")"/>
        }
    </TSelect>
</div>
Choose: @Value
@code {
    int Value { get; set; } = 1;
}*@

<TCalendar Card FirstDayOfWeek="DayOfWeek.Sunday" />
<TCalendar Card FirstDayOfWeek="DayOfWeek.Monday" />
<TCalendar Card FirstDayOfWeek="DayOfWeek.Tuesday" />
<TCalendar Card FirstDayOfWeek="DayOfWeek.Wednesday" />
<TCalendar Card FirstDayOfWeek="DayOfWeek.Thursday" />
<TCalendar Card FirstDayOfWeek="DayOfWeek.Friday" />
<TCalendar Card FirstDayOfWeek="DayOfWeek.Saturday" />