@page "/test"
@using Test = TDesign.Docs.Shared.Pages.Components.Data.TablePage
@layout EmptyLayout

@*<div style="width:180px">
<TSelect @bind-Value="Value">
    <TSelectOption Value="1" Label="选项1">选项1</TSelectOption>
        <TSelectOption Value="2" Label="选项2">选项2</TSelectOption>
</TSelect>
</div>

@code{
    int Value { get; set; } = 1;
}*@
