@namespace TDesign
@inherits TDesignComponentBase

<div class="t-time-picker">
    <div class="t-select-input">
        <TPopup>
            <TInputText @bind-Value="InputText" Readonly/>
        </TPopup>
    </div>
</div>