@page "/design"

<PageHeader Title="设计与规范">
    定义组件通用的命名规范
</PageHeader>

<h2>组件规范</h2>
@Code.Create(@"
为了防止用户在项目中与其他组件库重名（虽然可能性很小），我们的所有组件都会有一个“T”前缀，例如按钮是 `<Button>`，则 TDesign 的按钮就是 `<TButton>`
")

<h2>代码片段（RenderFragment）</h2>
@Code.Create(@"
所有能使用代码片段（即`RenderFragment`）类型的参数，一律使用 `Content` 后缀
* `ChildContent` 可直接进行组件内容使用的代码片段
* `HeaderContent` 用于组件头部或顶部任意代码片段的定义
* `FooterContent` 用于组件底部或脚部任意代码片段的定义
* `TitleContent` 用于组件标题的任意代码片段的定义
")

<h2>普通文本和代码片段</h2>
@Code.Create(@"
如果出现功能一样的文本和代码片段，则使用 `Text` 后缀作为 `string?` 类型的文本，如：
* `TitleText` 和 `TitleContent`
* `HeaderText` 和 `HeaderContent`

开发组件时，可继承 `IHasXXXXText` 和 `IHasXXXXContent`，内部会自动适应 `Text`=>`Content` 的值，无需使用代码 `Content??=builder=>builder.AddContent(0, Text)`
")