@page "/components/timepicker"

<PageLayout Title="TimePicker 时间选择器" Description="用于选择某一具体时间点或某一时间段。"
 Anchors="@(new[]{"单独使用时间选择器面板"})">
 <ChildContent>
        <Example Title="单独使用时间选择器面板">
    <Description></Description>
    <RunContent>
                <TTimePickerPanel @bind-Value="TimePanel"  ShowFooter/>        
                <p>
                选择的时间: @TimePanel
                </p>
    </RunContent>
    <CodeContent>
        @Code.Create(@"
```cshtml-razor
```
")
    </CodeContent>
</Example>
 </ChildContent>
 <ApiContent>
 </ApiContent>
</PageLayout>
@code{
    TimeSpan TimePanel{ get; set; }
}