@inherits LayoutComponentBase

<Layout>
    <HeaderContent>
        <Menu AdditionalStyle="    box-shadow: inset 0 -1px 0 #e7e7e7;padding:0 24px;">
            <LogoContent>
                <h1><storng><i>TDesignBlazor</i></storng></h1>
            </LogoContent>
            <OperationContent>
                <a href="/" title="源码">
                    <Icon Name="IconName.LogoGithubFilled" />
                </a>
            </OperationContent>
        </Menu>
    </HeaderContent>
    <LeftSideContent>
        <NavMenu />
    </LeftSideContent>
    <ChildContent>
        <div style="padding:24px;background:#fff">
            @Body
        </div>
    </ChildContent>
</Layout>