@inherits LayoutComponentBase

<Layout>
    <HeaderContent>
        <Menu>
            <LogoContent>Logo</LogoContent>
            <OperationContent>
                <a href="/">主页</a>
            </OperationContent>
        </Menu>
    </HeaderContent>
    <LeftSideContent>
        <NavMenu/>
    </LeftSideContent>
    <ChildContent>
        <div style="padding:24px;background:#fff">
        @Body
        </div>
    </ChildContent>
    <FooterContent>
        底部
    </FooterContent>
</Layout>