@inherits LayoutComponentBase

<Layout>
    <HeaderContent>
        <Menu>
            <LogoContent>
                <h1><storng>TDesignBlazor</storng></h1>
            </LogoContent>
            <OperationContent>
                <a href="/" title="源码">
                    <Icon Name="IconName.LogoGithubFilled" />
                </a>
            </OperationContent>
        </Menu>
    </HeaderContent>
    <LeftSideContent>
        <NavMenu />
    </LeftSideContent>
    <ChildContent>
        <div style="padding:24px;background:#fff">
            @Body
        </div>
    </ChildContent>
    <FooterContent>
        底部
    </FooterContent>
</Layout>