@inherits LayoutComponentBase

<Layout AdditionalStyle="overflow:hidden;height:100vh;">
    <HeaderContent>
        <Menu AdditionalStyle="box-shadow: inset 0 -1px 0 #e7e7e7;padding:0 24px;">
            <LogoContent>
                <img alt="TDesign Logo" width="100" src="https://tdesign.gtimg.com/site/TDesign.png">
                &nbsp;&nbsp;
                <h4><i>基于 TDesign 的 Blazor 企业级组件库</i></h4>
            </LogoContent>
            <OperationContent>
                <a href="https://github.com/AchievedOwner/TDesignBlazor" title="源码" target="_blank" style="text-decoration:none">
                    <Icon Name="IconName.LogoGithubFilled" Size="40px" />
                </a>
            </OperationContent>
        </Menu>
    </HeaderContent>
    <LeftSideContent>
        <div style="overflow-y:auto;height:95vh;overflow-x:hidden">
            <NavMenu />
        </div>
    </LeftSideContent>
    <ChildContent>
        <div style="padding:24px;background:#fff;height:88vh;overflow-y:auto;overflow-x:hidden">
            @Body
        </div>
    </ChildContent>
    <FooterContent>
        <div style="text-align:center;height:100vh">
            TDesignBlazor © William 2022 当前版本 v0.1
        </div>
    </FooterContent>
</Layout>
