body {
}

code {
    color: red;
    display: inline-block;
    background-color: #f8f8f8;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

[class*=tdesign-demo-item--grid] .t-col:nth-of-type(2n) > div {
    background: var(--td-brand-color-4);
}

[class*=tdesign-demo-item--grid] .t-col > div {
    min-height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    background: var(--td-brand-color-6);
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.tdesign-demo-item--layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 204px;
    padding: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: auto;
    background: #ddd;
}

[class*=tdesign-demo-item--layout] > div:not(:first-child) {
    margin-top: 24px;
}

.tdesign-demo-item--layout .t-layout__header, .tdesign-demo-item--layout .t-layout__footer {
    text-align: center;
    color: #fff;
    background-color: var(--td-brand-color-4);
    font-size: var(--td-font-size-body-large);
    line-height: 64px;
}

.tdesign-demo-item--layout .t-layout__content {
    text-align: center;
    color: #fff;
    background: var(--td-brand-color-5);
    height: 100px;
    font-size: var(--td-font-size-body-large);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tdesign-demo-item--layout .t-layout__sider {
    background-color: var(--td-brand-color-6);
    color: #fff;
    font-size: var(--td-font-size-body-large);
    display: flex;
    align-items: center;
    justify-content: center;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.demo-wrapper {
    min-height: calc(100vh - var(--footer-height));
    color: var(--text-primary);
    padding-right: var(--content-padding-right);
    border: 1px solid #ddd;
    border-radius: 5px;
}

    .demo-wrapper > .content {
        min-height: 150px;
        padding: 40px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: auto;
    }

        .demo-wrapper > .content.code-collapse {
            transition-duration: .8s;
            max-height: 0px;
            transition-timing-function: ease;
            overflow: hidden;
        }

        .demo-wrapper > .content.code-expand {
            transition-duration: .8s;
            max-height: 560px;
            transition-timing-function: cubic-bezier(0.82, 0, 1, 0.9);
        }

    .demo-wrapper > .footer {
        border-radius: 0px 0px 5px 5px;
    }

    .demo-wrapper .footer > .btn {
        height: 48px;
        padding: 8px;
        display: flex;
        justify-content: flex-end;
        column-gap: 8px;
        align-items: center;
        box-sizing: border-box;
    }

        .demo-wrapper .footer > .btn > .action {
            height: 32px;
            width: 32px;
            padding: 8px;
            box-sizing: border-box;
            border-radius: var(--border-radius);
            cursor: pointer;
            user-select: none;
            transition: all 0.1s ease 0s;
            display: inline-flex;
            color: var(--text-secondary);
        }

            .demo-wrapper .footer > .btn > .action.active {
                color: var(--text-primary);
                background-color: #ddd;
            }

    .demo-wrapper .code, .demo-wrapper .code pre {
        background-color: #efefef !important;
    }
