@page "/components/image"
<PageHeader Title="Alert 警告消息">
    警告条用于承载需要用户注意的信息。
</PageHeader>

<Example Title="基础警告">
    <Description>使用简洁文字提示的最基础警告条，包含 4 种情况的提示：普通消息，成功，警示，失败。</Description>
    <RunContent>
        <div style="width: 120px; height: 120px;">
            <Image src="https://tdesign.gtimg.com/demo/demo-image-1.png" />
        </div>
    </RunContent>
    <CodeContent>

    </CodeContent>
</Example>
