@page "/components/button"

<Button>普通按钮</Button>
<Button Variant="ButtonVariant.Outline">边框按钮</Button>
<Button Variant="ButtonVariant.Dashed">虚框按钮</Button>
<Button Variant="ButtonVariant.Text">文本按钮</Button>
